{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:    2016-08-22 12:13:36
#}

{% embed "AzimutBackofficeBundle::side_panel.html.twig" with {'prefixId': 'azimutCmsMap'} %}
    {% block content %}
        {% verbatim %}
            <div class="margin-block">
                <form>
                    <input type="search" class="form-control" ng-model="searchKeywords" placeholder="{% endverbatim %}{{ 'search.map.points'|trans|capitalize }}{% verbatim %}" />
                </form>
            </div>

            <div class="text-center">
                <a href ui-sref="backoffice.cmsmap.new_map_point()" >
                    <span class="glyphicon glyphicon-plus-sign"></span> {% endverbatim %}{{ 'new.map.point'|trans }}{% verbatim %}
                </a>
            </div>

            <ul class="tree-list">
                <li
                    ng-repeat="mapPoint in (orderedMapPoints = (mapPoints | filter: {name: searchKeywords, cmsFileType: 'map_point'} | orderBy: 'name'))"
                >
                    <span class="list-item">
                        <span class="list-toggle">&nbsp;</span>
                        <a href ng-click="openMapPoint(mapPoint)"><span class="glyphicon glyphicon-pro glyphicon-pro-vcard"></span> {{ mapPoint.getName($scope.locale) }}</a>
                        <a href class="pull-right" ng-click="deleteMapPoint(mapPoint)" az-confirm-click="Translator.trans('map.point.%map_point_name%.confirm.permanent.delete', {map_point_name: mapPoint.getName($scope.locale)})"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                </li>
            </ul>
        {% endverbatim %}
    {% endblock %}
{% endembed %}

{% include 'AzimutBackofficeBundle::notifications.angularjs.twig' %}
<section class="main-panel" ui-view ng-show="showContentView" ng-class="isMainContentLoading?'loading':''">
    <section class="body scrollable-container">
        <div class="well" style="max-width:370px;margin:50px auto">
            <div class="text-center">
                <p>{{ 'cms_map.welcome.message'|trans }}</p>
            </div>
        </div>
    </section>
</section>
