{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-05-28 16:02:42
#}

<div class="widget-popin" id="azimutMediacenterWidget">

    <div class="panel panel-default">
        <div class="panel-heading">
            <button aria-hidden="true" class="close" type="button">×</button>
            Mediacenter
        </div>

        <div class="root panel-body">
            <div class="body" ng-transclude></div>
        </div>
    </div>

</div>
