<table style="width: 100%">
    <tr>
        <td align="center">
            <table width="240" height="44" cellpadding="0" cellspacing="0" border="0" bgcolor="#21B273" class="btn">
                <tr>
                    <td align="center" valign="middle" height="44">
                        <a href="{{ url }}" target="_blank">{{ label|trans(labelParams|default({})) }}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
