{#
# @author: Yoann Le Crom <yoann.lecrom@abstractive.fr>
# date:    2018-10-04 11:24:49
#}

{% extends 'SiteLayout/shop_login.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container">
        {{ parent() }}
    </div>
{% endblock %}

{% block form_login %}
    <div class="well form-login">
        {{ parent() }}
    </div>
{% endblock %}
