{#
# @author: Yoann Le Crom <yoann.lecrom@gmail.com>
# date:    2017-02-21 10:53:34
#}

<!DOCTYPE html>
<html>
<head>
    <title>My external app content</title>
</head>
<body>
    <p><b>External app slug:</b> {{ slug }}</p>
    <p><b>External queryString:</b> {{ queryString }}</p>
</body>
</html>
