{#
# @author: Yoann Le Crom <yoann.lecrom@gmail.com>
# date:    2017-05-10 10:31:51
#}

{% verbatim %}

    <header class="header-bar">
        <div class="left">
            {{ user.firstName }} {{ user.lastName }}
        </div>
    </header>

    <section class="body scrollable-container">
        <div class="scrollable">
            <div class="margin-block">
                <div class="well" ng-include="formUserTemplateUrl"></div>
            </div>
        </div>
    </section>

{% endverbatim %}
