{#
# @author: Yoann Le Crom <yoann.lecrom@gmail.com>
# date:    2017-06-08 15:55:11
#}

{% extends 'SiteLayout/confirm_email.html.twig' %}

{% block body %}
    <div class="well form-login">
        {{ parent() }}
    </div>
{% endblock %}
