{% extends ':SiteLayout/ixa:client_area.html.twig' %}
{% block mainMenu %}
    <a href="{{ path('azimut_frontoffice', {'path': 'espace-consultant/campaign/'}) }}" class="MainMenu-list-item"><img src="{{ asset('img/frontoffice/clipboard-list.svg') }}" alt="Liste" class="MainMenu-list-item-icon" /> Campagnes</a>
{% endblock %}
