{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-02-20 16:07:59
#}

<ul>
    <li><a href="{{ path('azimut_cms_dev_cms_content') }}">Cms content demo</a></li>
    <li><a href="{{ path('azimut_cms_dev_form_cms_file') }}">Cms file form demo</a></li>
    <li><a href="{{ path('azimut_cms_dev_form_cms_file_with_attachments') }}">Cms file with attachments form demo</a></li>
</ul>
