{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-01-10 17:30:10
#}

{% verbatim %}

    <header class="header-bar">
        <div class="left">
            Optionnal header bar
        </div>
    </header>

    <section class="body scrollable-container">
        <div class="scrollable">
            <div class="margin-block">
                content<br />
                <br />
                {{ myVar }}
            </div>
        </div>
    </section>

    <footer class="footer-bar footer-bar-sm">
        <div class="left">Optionnal footer bar</div>
    </footer>

{% endverbatim %}
