{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-02-19 15:22:26
#}

{% verbatim %}

    <section class="body scrollable-container">
            <div class="scrollable">
                <div class="margin-block">
                    This is the home substate
                </div>
            </div>
    </section>

{% endverbatim %}
