.Filtersform {
    background-color: rgba(50, 65, 96, 0.5);
    padding: 15px;
    position: relative;
    z-index: 10;
}

.Filtersform form > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Filtersform form > div > div {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}
.Form-selectbox {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 200px;
    margin: 0 1rem;
    z-index: 1;
}
.Form-selectbox-options {
    background-color: white;
    width: 100%;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 8px 2px 22px 0px rgba(0,0,0, 0.16);
}

.Form-selectbox--active .Form-selectbox-options {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.Form-selectbox-displayWord,
.Form-selectbox-option {
    padding: 5px 24px;
    cursor: pointer;
    user-select: none;
}

.Form-selectbox-displayWord {
    position: relative;
    background-color: white;
    border-radius: 8px;
    height: 30px;
    box-shadow: 8px 2px 22px 0px rgba(0,0,0, 0.16);
}
.Form-selectbox-displayWord::after {
    position: absolute;
    top: 50%;
    right: 16px;
    content: "";
    background: url("https://image.flaticon.com/icons/svg/271/271210.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    height: 16px;
    width: 16px;
    transform: translateY(-50%);
    transition: all 0.4s;
}
.Form-selectbox--active .Form-selectbox-displayWord::after {
    transform: translateY(-50%) rotateZ(180deg);
}

.Form-selectbox-options {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
}
.Form-selectbox-option:hover {
    background-color: #eeeeee;
}
.Form-selectbox-option input {
    display: none;
}
.Form-selectbox-option label {
    cursor: pointer;
}

.Form-index {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.Form-index-option {
    color: white;
}

.Form-index-option.Form-index-option--active {
    color: var(--green);
}

.Form--classic {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.Form--column,
.Form--column div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.Form--classic .Grid {
    display: grid;
}

.Form--classic input[type=password],
.Form--classic input[type=text],
.Form--classic input[type=email],
.Form--classic input[type=tel],
.Form--classic textarea,
.Form--classic select {
    font-family: 'Gotham', sans-serif;
    background-color: white;
    border: 1px var(--green) solid;
    color: #575757;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
    font-size: 1.05em;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.Form--classic textarea {
    padding: 15px 20px;
}
.Form--classic input:focus,
.Form--classic input:active,
.Form--classic textarea:focus,
.Form--classic textarea:active{
    outline: none;
    background-color: white;
}
.Form--classic {
    max-width: 300px;
}

.Form--classic.Form--lg {
    max-width: 700px;
}

.Form--classic.Form--xxl {
    max-width: initial;
}

.Form--classic .btn.btn-default {
   background-color: var(--green);
    color: white;
    cursor: pointer;
}

.Form--classic .btn.btn-default:hover,
.Form--classic .btn.btn-default:focus,
.Form--classic .btn.btn-default:active {
    color: var(--green);
    background-color: white;
}

.Form--classic .g-recaptcha {
    margin: 2rem auto;
}

.Form--classic .form-group {
    margin-bottom: 2rem;
}

.Form--classic .control-label::first-letter {
    text-transform: capitalize;
}

.Form-select--classic {
    position: relative;
    margin: 0.5em 0;
}

.Form-select--classic div {
    position: relative;
    overflow: hidden;
    border: none;
    margin: 0.5em 0 0 0;
    border-radius: 20px;
}

.Form-select--classic div::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 1.75em;
    display: block;
    width: 0; height: 0;
    border-color: transparent;
    border-top-color: var(--green);
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}

.Form-select--classic select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f8f8f8;
    width: 110%;
    height: auto;
    border: 0;
    margin: 0;
    padding: .75em 1.75em;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--green);
}

.Form-select--classic select:focus {
    background-color: white;
}

.Form-select--classic select::-ms-expand {
    display: none;
}

.FormBgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.FormBgWrapper-content {
    padding: 2rem 3rem;
    background: var(--grey)
}

.Form-checkbox div {
    flex-direction: row;
    justify-content: space-between;
}

.Form-radio,
.Form--column .Form-radio {
    flex-wrap: wrap;
    flex-direction: row;
}

.Form-radio input,
.Form-checkbox input {
    flex-grow: 1;
    width: 20px;
    margin-right: 10px;
}

.Form-radio label,
.Form-checkbox label {
    flex-grow: 1;
    width: calc(100% - 30px);
}

.Form-checkbox input {
    order: 1;
}

.Form-checkbox label {
    order: 2;
}

.Form-radio label.required:after  {
    content: "" !important;
}

label.control-label.required:after  {
    content: "" !important;
}

.Form--classic label.required:after {
    content: " *";

}

@media (max-width: 768px) {
    .Filtersform form > div {
        flex-wrap: wrap;
    }
    .Filtersform form > div > div:first-child {
        flex: 0 1 100%;
    }

    .Form-selectbox {
        flex: 0 1 50%;
    }
}


.iti__flag {background-image: url("../../../../../web/build/backoffice/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("../../../../../web/build/backoffice/img/flags@2x.png");}
}

.Form--column .iti {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Form--column .iti__flag-container {
    margin-bottom: 0;
    padding-top: 8px;
}
.Form--column .iti__flag-container div {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.Form--column .iti input[type=tel] {
    padding-left: 60px;
}
