{#
# @author: Gerda Le Duc <gerda.leduc@azimut.net>
# date:   2015-03-23 10:41:12
#}

<section class="main-panel">

    <div class="well" style="max-width:370px;margin:50px auto">
        <div class="text-center"><b>Azimut System</b></div>
        <br />
        <p>{{ 'application.error.message'|trans }}</p>
        <a href=" {{ logOutUrl }} "> {{ logOutUrl }} </a>
    </div>

</section>
