{#
# @author: Gerda Le Duc <gerda.leduc@azimut.net>
# date:   2014-10-14 10:41:12
#}

<section class="main-panel">

    <div class="well" style="max-width:370px;margin:50px auto">
        <div class="text-center"><b>Azimut System</b></div>
        <br />
        <div>{{'template.error.message' | trans}}</div>
    </div>

</section>
