{#
# @author: Yoann Le Crom <yoann.lecrom@abstractive.fr>
# date:    2018-04-19 16:10:14
#}

{% verbatim %}
    <header class="header-bar">
        <div class="left">
            {% endverbatim %}{{ 'new.comment'|trans|capitalize }}{% verbatim %}
        </div>
    </header>

    <section class="body" ng-class="{'scrollable-container': true !== disableBodyScroll}">
        <div class="margin-block" ng-class="{'scrollable': true !== disableBodyScroll}">
            <div class="well" ng-include="formCommentTemplateUrl"></div>
        </div>
    </section>
{% endverbatim %}
