{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-10-09 14:23:17
#}

{% verbatim %}
    <td class="icon-column">
        <span class="glyphicon glyphicon-file"></span>
    </td>
    <td>
        {{ currentFile.getName($scope.locale) }}
    </td>
    <td>
        {{ Translator.transChoice('cms.file.type.' + currentFile.cmsFileType, 1) }}
    </td>
    <td>
        {{ currentFile.trashedDate|date:datetimeFormat }}
    </td>
    <td class="icon-column">
        <a href ng-click="untrashFile(currentFile)"><span class="glyphicon glyphicon-pro glyphicon-pro-restart"></span></a>
        &nbsp;&nbsp;
        <a href ng-click="deleteFile(currentFile)" az-confirm-click="Translator.trans('cms.file.%file_name%.confirm.permanent.delete', {file_name: currentFile.getName($scope.locale)})"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
{% endverbatim %}
