{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2016-02-16 14:21:11
#}

{% verbatim %}

    <section class="main-panel">
        <div class="well" style="max-width:370px;margin:50px auto">
            <div class="text-center"><b>{{ appName }}</b></div>
            <br />
            <p>{% endverbatim %}{{ 'backoffice.forbidden.application.message' | trans }}{% verbatim %}</p>
        </div>

    </section>

{% endverbatim %}
