{#
# @author: Yoann Le Crom <yoann.lecrom@gmail.com>
# date:    2017-07-05 17:15:31
#}

{% extends siteLayout %}

{% block body %}
    <div class="container">

        <h1>{{ 'suggest.article'|trans }}</h1>

        {{ renderZone(page, 'intro', pagePath, {
            'cmsFileTemplateName': 'cms_file_detail',
            'pagePath': pagePath
        }) }}

        {{ renderZoneCmsFileBufferForm(page, 'form') }}

    </div>
{% endblock %}
