{#
# @author: Yoann Le Crom <yoann.lecrom@gmail.com>
# date:    2017-01-26 15:30:20
#}

{% verbatim %}

    <header class="header-bar">

        <div ng-if="!showBreadcrumb" class="left">
            {{ siteLayout.name }}
        </div>

        <div class="right shrink0">
            <az-form-locale-selector ng-model="formLocale"></az-form-locale-selector>
        </div>

    </header>

    <section class="body scrollable-container">
        <div class="scrollable">
            <div class="margin-block">
                <div class="well" ng-include="formSiteLayoutTemplateUrl"></div>
            </div>
        </div>
    </section>

{% endverbatim %}
