{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-02-10 12:07:56
#}

{% form_theme form 'AzimutBackofficeBundle::backoffice_form_theme.html.twig' %}

{{ form(form) }}

<az-cms-select-widget><div class="main-panel" ui-view="cms-select-widget"></div></az-cms-select-widget>
