{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-04-07 10:59:00
#}

{% extends siteLayout %}

{% block body %}
    <div class="container">
        <p>Bientôt disponible</p>
    </div>
{% endblock %}
