{% set _bodyClass = 'interior' %}
{% extends siteLayout %}
{% block body %}
    <div class="container">
        {% include 'CmsFileLayout/cms_file_detail.html.twig' with {'cmsFile': cmsFile} %}
    </div>
{% endblock %}

