{# @var campaign \Azimut\Bundle\MontgolfiereAppBundle\Entity\Campaign #}
{% extends siteLayout %}
{% set selectedMenu = 'cartography' %}
{% block bodyContent %}
    {% if not campaign.consultantAreaAllowCartographyView %}
        <p class="text-center">L'accès à la cartographie a été désactivée par un administrateur. Veuillez nous contacter pour en savoir plus.</p>
    {% else %}
        <p>Ce tableau est purement informatif, il ne pourra en aucun cas être transmis au client, même de manière partielle pour des raisons évidentes de confidentialité</p>
        {% form_theme form "bootstrap_3_layout.html.twig" %}
        {{ form(form, {attr:{class:'form-inline'}}) }}

        <div class="clearfix"></div>

        <iframe
                src="{{ path('azimut_frontoffice', request.query.all|merge({'path': pageSlug(page)~'/campaign/'~campaign.id ~'/cartography-export', format: 'html'})) }}"
                style="border: none; width: 100%; height: 500px;"
                onload="$(this).height( $(this).contents().outerHeight() );"
        ></iframe>
    {% endif %}
{% endblock %}
