{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:    2016-11-02 09:05:19
#}

<table style="width:100%;height:100%;">
    <tr>
        <td ng-click="openZone(getZoneByName('diaporama'))">{{ 'zone_names.diaporama'|trans }}</td>
    </tr>
    <tr>
        <td ng-click="openZone(getZoneByName('content'))">{{ 'zone_names.content'|trans }}</td>
    </tr>
</table>
