{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:    2016-10-18 13:55:26
#}

<table style="width:100%;height:100%;">
    <tr>
        <td ng-click="openZone(getZoneByName('content'))">{{ 'zone_names.content'|trans }}</td>
    </tr>
</table>
