.question {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    //overflow-y: auto;
    @include md {
        flex-direction: row;
        justify-content: center;
    }

    form {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 15px calc(80px + 20px + #{$mobile-safe-padding}) 15px;
    }

    .question-container {
        @include md {
            padding-right: 50px;
        }
        @include xl {
            padding-right: 0;
        }
    }

    .gauge-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        @include md {
            align-items: flex-end;
        }

        .question-label {
            @include md {
                font-size: 1.25em;
            }
            p {
                margin: 0;
            }
            &.center {
                text-align: center;
                width: 100%;
                order: 1;
                @include md {
                    padding: 0 10%;
                }
                @include lg {
                    padding: 0 20%;
                }
            }
            &.left, &.right {
                width: 50%;
                @include md {
                    width: 25%;
                    text-align: left;
                }
            }
            &.left {
                text-align: left;
                order: 3;
                @include md {
                    order: 2;
                }
            }
            &.right {
                text-align: right;
                order: 4;
            }
        }
        .gauge {
            width: 100%;
            order: 2;
            @include md {
                width: 50%;
                order: 3;
            }
        }

        .knob-container {
            position: relative;
        }
        .form-group {
            flex-grow: 1;
            textarea {
                min-height: 150px;
                max-height: 100%;
            }
        }
    }

    .actions {
        align-items: flex-end;
        @include md {
            width: 20%;
        }
    }

    // TODO On mobile, tooltips should be in a "modal"
    .tooltip-container {
        position: relative;
        text-align: right;
        &.active {
            > span.fa-stack {
                // Hide open button
                //visibility: hidden;
            }
            .question-tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .question-tooltip {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        width: 90vw;
        @include md {
            width: 40vw;
        }

        visibility: hidden;
        opacity: 0;
        transition: visibility $transition-speed $transition-animation, opacity $transition-speed $transition-animation;

        background-color: #F4F4F4;
        text-align: left;
        padding: 20px;
        margin-top: 20px;

        .fa-circle {
            color: $workcare-secondary;
        }

        [data-toggle=tooltip] {
            position: absolute;
            right: 0;
            top: -20px;
        }

        p {
            margin: 0;
        }
    }
}
