{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2015-09-16 11:29:40
#}

<table style="width:100%;height:100%;">
    <tr>
        <td ng-click="openZone(getZoneByName('main'))">{{ 'zone_names.map'|trans }}</td>
    </tr>
</table>
