{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2015-09-16 11:28:25
#}

<table style="width:100%;height:100%;">
    <tr>
        <td ng-click="openZone(getZoneByName('center'))">{{ 'zone_names.center'|trans }}</td>
    </tr>
    <tr>
        <td>{{ 'zone_names.form.fixed'|trans }}</td>
    </tr>
</table>
