{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-03-04 09:37:13
#}

<table style="width:100%;height:100%;">
    <tr>
        <td ng-click="openZone(getZoneByName('center'))">{{ 'zone_names.center'|trans }}</td>
    </tr>
</table>
