{#
# @author: Yoann Le Crom <yoann.lecrom@abstractive.fr>
# date:    2018-12-11 17:53:15
#}

{% extends siteLayout %}

{% block body %}
    <h1>{{ 'payment.confirmed'|trans }}</h1>

    <p>{{ 'thank.you.for.your.order'|trans }} !</p>

    <p>{{ 'your.order.is.paid.and.will.be.processed.has.soon.has.possible'|trans }}.</p>

    <h3>{{ 'your.order'|trans }}</h3>
    {% include 'SiteLayout/shop_order_products_list.html.twig' with {
        containerClass: 'table-responsive table-bordered',
        tableClass: 'table table-striped table-hover',
    } %}
{% endblock %}
