{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2015-11-17 15:11:40
#}

<section>
    <h1>{{ cmsFile.name }}</h1>
</section>

<br />

<p class="text-center"><a href="./">{{ 'page.up'|trans }}</a></p>
